@use "sass:color";
// -------------------------------------- Admin Notes
.comments {

  .active_admin_comment {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 700px;
    display: flex;
    gap: 20px;

    .active_admin_comment_meta {
      width: 130px;
      flex-shrink: 0;
      overflow: hidden;
      font-size: 0.9em;
      color: color.adjust($primary-color, $lightness: 10%);
      .active_admin_comment_author {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0;
        color: $primary-color;
      }
    }
    .active_admin_comment_body {
      flex: 1;
    }
  }
  form.active_admin_comment {
    margin: 0;
    padding: 0;
    margin-left: 150px;

    fieldset.inputs {
      margin: 0;
      padding: 0;
      background: none;
      box-shadow: $shadow-none;
    }
    li { padding: 0; }
    fieldset.buttons { padding: 0; margin-top: 5px;}
  }
}
