.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  font-size: 0.9em;
  margin-left: 8px;
  order: 2;

  a {
    @include light-button;
  }

  span.page.current {
    @include default-button;
  }

  a, span.page.current {
    @include rounded(0px);
    padding: 2px 5px;
  }
}

.pagination_information {
  display: inline-block;
  margin-left: auto;
  margin-bottom: 5px;
  white-space: nowrap;
  color: #b3bcc1;
  order: 1;
  b { color: #5c6469; }
}

.download_links {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: auto;
  order: 0;
}

.pagination_per_page {
  display: flex;
  justify-content: flex-end;
  margin-left: 4px;
  order: 0;
  select {
    @include light-button;
    @include rounded(0px);
    padding: 1px 5px;
  }
}

.comments {
  .pagination {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .pagination_information {
    text-align: left;
    color: #000;
  }
}
