@use "sass:color";
@use "active_admin/mixins/variables" as *;
@mixin basic-button {
  border-radius: var(--button-border-radius, #{$button-border-radius});
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: var(--font-family-sans, #{$font-family-sans});
  line-height: 12px;
  margin-right: 3px;
  padding: var(--button-padding, #{$button-padding});
  text-decoration: none;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

}

@mixin default-button {
  background-color: var(--button-default-background, #{$button-default-background});
  background-image: var(--button-default-background-image, #{$button-default-background-image});
  text-shadow: var(--text-shadow-dark, #{$text-shadow-dark});
  box-shadow: var(--button-default-shadow, #{$button-default-shadow});
  border: var(--button-default-border, #{$button-default-border});
  border-color: var(--button-default-border-color, #{$button-default-border-color});
  color: var(--button-default-color, #{$button-default-color});
  @include basic-button;

  &:not(.disabled) {
    &:hover{
      background-color: var(--button-default-background-hover, #{$button-default-background-hover});
      background-image: var(--button-default-background-image-hover, #{$button-default-background-image-hover});
    }

    &:active {
      box-shadow: var(--button-default-shadow-active, #{$button-default-shadow-active});
      background-color: var(--button-default-background-active, #{$button-default-background-active});
      background-image: var(--button-default-background-image-active, #{$button-default-background-image-active});
    }
  }
}

@mixin light-button {
  background-color: var(--button-light-background, #{$button-light-background});
  background-image: var(--button-light-background-image, #{$button-light-background-image});
  box-shadow: var(--button-light-shadow, #{$button-light-shadow});
  border: var(--button-light-border, #{$button-light-border});
  border-color: var(--button-light-border-color, #{$button-light-border-color});
  text-shadow: var(--text-shadow-light, #{$text-shadow-light});
  color: var(--button-light-color, var(--color-primary, #{$primary-color}));
  @include basic-button;

  &:not(.disabled) {
    &:hover {
      background-color: var(--button-light-background-hover, #{$button-light-background-hover});
      background-image: var(--button-light-background-image-hover, #{$button-light-background-image-hover});
    }

    &:active {
      box-shadow: var(--button-light-shadow-active, #{$button-light-shadow-active});
      border-color: var(--button-light-border-color-active, #{$button-light-border-color-active});
      background-color: var(--button-light-background-active, #{$button-light-background-active});
      background-image: var(--button-light-background-image-active, #{$button-light-background-image-active});
    }
  }

}

@mixin dark-button {
  @include default-button;
}
