@use "sass:color";
@mixin basic-button {
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: $font-family-sans;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

}

@mixin default-button {
  background-color: color.adjust($primary-color, $lightness: 15%);
  background-image: linear-gradient(180deg, color.adjust($primary-color, $lightness: 15%), color.adjust($primary-color, $lightness: -12%));
  text-shadow: $text-shadow-dark;
  box-shadow: 0 1px 1px rgba(0,0,0,0.10), 0 1px 0 0px rgba(255,255,255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #616a71 #484e53 #363b3f #484e53;
  color: #efefef;
  @include basic-button;

  &:not(.disabled) {
    &:hover{
      background-color: color.adjust($primary-color, $lightness: 18%);
      background-image: linear-gradient(180deg, color.adjust($primary-color, $lightness: 18%), color.adjust($primary-color, $lightness: -9%));
    }

    &:active {
      box-shadow: 0 1px 3px rgba(0,0,0,0.40) inset, 0 1px 0 0px #FFF;
      background-color: color.adjust($primary-color, $lightness: 8%);
      background-image: linear-gradient(180deg, color.adjust($primary-color, $lightness: 8%), color.adjust($primary-color, $lightness: -17%));
    }
  }
}

@mixin light-button {
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
  box-shadow: 0 1px 1px rgba(0,0,0,0.10), 0 1px 0 0 rgba(255,255,255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #d3d3d3 #c7c7c7 #c2c2c2 #c7c7c7;
  text-shadow: $text-shadow-light;
  color: $primary-color;
  @include basic-button;

  &:not(.disabled) {
    &:hover {
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1);
    }

    &:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.22) inset, 0 1px 0 0px #EEE;
      border-color: #c2c2c2 #b9b9b9 #b7b7b7 #b9b9b9;
      background-color: #F3F3F3;
      background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8);
    }
  }

}

@mixin dark-button {
  @include default-button;
}
