@use "sass:color";
$secondary-gradient-start: #efefef !default;
$secondary-gradient-stop: #dfe1e2 !default;

@mixin gradient($start, $end, $direction: 180deg){
  background-color: $start;
  background-image: linear-gradient($direction, $start, $end);
}

@mixin primary-gradient {
  @include gradient(color.adjust($primary-color, $lightness: 5%), color.adjust($primary-color, $lightness: -7%));
  border-bottom: 1px solid color.adjust($primary-color, $lightness: -11%);
}

@mixin secondary-gradient {
  @include gradient($secondary-gradient-start, $secondary-gradient-stop);
}

@mixin highlight-gradient {
  @include gradient(#75a1c2, #608cb4);
}

@mixin reverse-highlight-gradient {
  @include gradient(#608cb4, #75a1c2);
}

@mixin no-gradient {
  background: transparent;
  background-image: none;
}
