@use "active_admin/mixins/variables" as *;
@use "active_admin/mixins/gradients" as *;

@mixin section-header {
  @include secondary-gradient;
  text-shadow: var(--text-shadow-light, #{$text-shadow-light});
  border: solid 1px;
  border-color: var(--color-section-header-border-top, #e6e6e6) var(--color-section-header-border-right, #d4d4d4) var(--color-section-header-border-bottom, #cdcdcd) var(--color-section-header-border-left, #d4d4d4);
  box-shadow: var(--shadow-section-header, 0 1px 3px rgba(0,0,0,0.12), 0 0 1px #FFF inset);

  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 0.5em;
  color: var(--color-section-header-text, #{$section-header-text-color});

  padding: 5px 10px 3px 10px;
}

@mixin section-background {
  background: var(--color-section-background, #f4f4f4);
  border-radius: 4px;
  box-shadow: var(--shadow-inset, #{$shadow-inset});
}

@mixin section {
  @include section-background;
  margin-bottom: 20px;

  > h3 {
    @include section-header;

    .header_action {
      float: right;
    }
  }

  > div { padding: 3px var(--section-padding, #{$section-padding}) var(--section-padding, #{$section-padding}) var(--section-padding, #{$section-padding}); }

  hr {
    border: none;
    border-bottom: 1px solid var(--color-section-divider, #E8E8E8);
  }
}
