#footer {
  padding: 30px 30px;
  font-size: 0.8em;
  clear: both;

  p {
    padding-top: 10px
  }
}

// -------------------------------------- Index Footer (Under Table)
#index_footer {
  padding-top: 5px;
  font-size: 0.85em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.index_content { clear: both; }
