@use "active_admin/mixins/all" as *;

#wrapper {
  width: 100%;
}

.index #wrapper {
  display: table;
}

#active_admin_content {
  margin: 0;
  padding: var(--horizontal-page-margin, #{$horizontal-page-margin});

  #main_content_wrapper {
    float: left;
    width: 100%;

    #main_content{
      margin-right: 300px;
    }
  }

  &.without_sidebar #main_content_wrapper #main_content{ margin-right: 0; }

  #sidebar {
    float: left;
    width: var(--sidebar-width, #{$sidebar-width});
    margin-left: calc(-1 * var(--sidebar-width, #{$sidebar-width}));
  }
}
