/* Active Admin CSS */
// Normalize
@use "active_admin/normalize";

// Load variables and mixins so components have access to them
@use "active_admin/mixins" as *;

// Partials
@use "active_admin/typography";
@use "active_admin/header";
@use "active_admin/forms";
@use "active_admin/components/comments";
@use "active_admin/components/flash_messages";
@use "active_admin/components/date_picker";
@use "active_admin/components/tables";
@use "active_admin/components/batch_actions";
@use "active_admin/components/modal_dialog";
@use "active_admin/components/blank_slates";
@use "active_admin/components/breadcrumbs";
@use "active_admin/components/dropdown_menu";
@use "active_admin/components/buttons";
@use "active_admin/components/grid";
@use "active_admin/components/links";
@use "active_admin/components/pagination";
@use "active_admin/components/panels";
@use "active_admin/components/columns";
@use "active_admin/components/scopes";
@use "active_admin/components/status_tags";
@use "active_admin/components/table_tools";
@use "active_admin/components/index_list";
@use "active_admin/components/unsupported_browser";
@use "active_admin/components/tabs";
@use "active_admin/pages/logged_out";
@use "active_admin/structure/footer";
@use "active_admin/structure/main_structure";
@use "active_admin/structure/title_bar";

body {
  font-family: var(--font-family-sans, #{$font-family-sans});
  line-height: 1.5;
  font-size: 72%;
  background: var(--color-body-background, #{$body-background-color});
  color: var(--color-text, #{$text-color});
}
